body {
    margin: 0;
    background-image: linear-gradient(#2F2F2F, #F25D27);
    height: 410vh;
    width: 100vw;
}

.MainCont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-wrap: wrap;
    color: #5C2B8C;
    gap: 2vw;
    row-gap: 0vh;
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 10vh;
    left: 1.5vw;
}

.HomeBut {
    color: #5C2B8C;
    font-family: "chorine-large", sans-serif;
    font-size: 3vw;
    text-decoration: none;
    position: absolute;
    top: -9vh;
    left:45vw;
    z-index: 2;
}

.HomeBut:hover {
    color: #F25D27;
}

.HomeBut:visited {
    color: inherit;
}

.HomeBut2 {
    color: #5C2B8C;
    font-family: "chorine-large", sans-serif;
    font-size: 5vw;
    text-decoration: none;
    position: absolute;
    top: 410vh;
    left:45vw;
    z-index: 2;
}

.HomeBut2:hover {
    color: #F25D27;
}

.HomeBut2:visited {
    color: inherit;
}

.shadowBox {
    height: 65vh;
    width: 31vw;
    background-color: #2F2F2F;
    filter: blur(4px);
}

.imageBox {
    position: relative;
    bottom: 89vh;
    left: 1.5vw;
    height: auto;
    width: 28vw;
}

.imageBoxHammer {
    position: relative;
    bottom: 89vh;
    left: 5vw;
    height: auto;
    width: 20vw;
}

.imageBoxHourGlass {
    position: relative;
    bottom: 89vh;
    left: 5vw;
    height: auto;
    width: 20vw;
}

.imageBoxHydPress {
    position: relative;
    bottom: 89vh;
    left: 6.5vw;
    height: auto;
    width: 18vw;
}

.textBox {
    margin: 0.4vw;
    position: relative;
    left: 0.5vw;
    bottom: 24vh;
    height: 23vh;
    width: 30vw;

    font-family: "lores-12-bold-alt-oakland", sans-serif;
    text-align: center;
    font-size: 1.3vw;
    color: #FEFDFF;

}

.squareCont {
    position: relative;
    height: 75vh;
    width: 31vw;
    top: 3vh;
}
