

body {
    background-color: #2F2F2F;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    --fs-scaler: clamp(6vh + 2vw, 8vh + 2vw, 12vh + 2vw);
    --fs-infotext-scaler: clamp(0.2vh + 0.2vw, 3.5vh + 3.5vw, 6vh + 6vw);
    --fs-left: 26.5%;
    --banner-scalery: clamp(2vh + 4vw, 4vh + 4vw,  6vh + 4vw);
    --banner-scalerx: clamp(12vw + 4vh, 22vw + 4vh, 36vw + 4vh);
    --ufo-scaler: clamp(18vh + 18vw, 28vh + 28vw, 58vh + 58vw);
    --build-scaler: clamp(30vh + 4vw, 40vh + 4vw, 60vh + 4vw);

    --about-Tex-Scaler: clamp(0.5vh + 3.5vw, 0.8vh + 3.6vw, 1vh + 3.7vw);
    --bigPara-Tex-Scaler: clamp(1vh + 1vw, 1.5vh + 1.5vw, 1.8vh + 1.8vw);
    --redacted-Tex-Scaler: clamp(0.9vh + 0.9vw, 1.4vh + 1.4vw, 1.7vh + 1.7vw);
    --smallGreyTex-Scaler: clamp(0.4vh + 0.4vw, 0.8vh + 0.8vw, 0.9vh + 0.9vw);

    --popUpText-Scaler: clamp(0.4vh + 0.4vw, 0.8vh + 0.8vw, 0.9vh + 0.9vw)

}

html {
    scroll-behavior: smooth;
}

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.LinkText {
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;

    color: #5C2B8C;
    text-shadow: #FEFDFF 0px 0px 25px;
    font-size: 2vw;
    font-family: "chorine-large", sans-serif;
    top: 4vh;

    z-index: 8;
}

.LinkText:visited {
    color: #5C2B8C;
}

.LinkText:hover {
    color: #F25D27;
}


#PortTex {
    margin: auto;
    text-decoration: none;
    position: absolute;
    height: auto;
    width: auto;
    left: 18.5vw;
}

.PortTexClass:hover {
    color: #F25D27;
}

#PortTex:hover {
    color: #F25D27;
}

.PriceLinkClass:hover {
    color: #F25D27;
}


#PriceLinkID {
    margin: auto;
    text-decoration: none;
    position: absolute;
    right: 19vw;

}



.topTex {
    color: #FEFDFF;
    position: absolute;
    margin: auto;
    font-size: var(--fs-scaler);
    font-family: "chorine-large", sans-serif;
    -webkit-text-stroke: 1px #2F2F2F;
    bottom: 74vh;
    z-index: 3;
}
.midTex {
    color: #F25D27;
    position: absolute;
    margin: auto;
    font-size: var(--fs-scaler);
    font-family: "chorine-large", sans-serif;
    -webkit-text-stroke: 1px #2F2F2F;
    bottom: 73vh;
    z-index: 2;
}
.bottomTex {
    color: #5C2B8C;
    position: absolute;
    margin: auto;
    font-size: var(--fs-scaler);
    font-family: "chorine-large", sans-serif;
    -webkit-text-stroke: 1px #2F2F2F;
    bottom: 72vh;
    z-index: 1;
}

.StarsCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 90vw;
    z-index: 4;
    top: -24vh;
}


.InfoButtCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 8;
    top: 35vh;

}

.InfoText {
    color: #5BBF3F;
    text-decoration: none;
    position: relative;
    -webkit-text-stroke: #2F2F2F 3px;
    margin: auto;
    font-size: var(--fs-infotext-scaler);
    font-family: "chorine-large", sans-serif;
    bottom: -1vh;
    z-index: 4;
}

.InfoButtCont a:hover {
    color: #FEFDFF !important;
}


#ButtonSvg {
    position: absolute;
    height: 12vh;
    width: 18vw;
}

.BonCont {
    display: flex;
    position: absolute;
    margin: auto;
    height: var(--fs-scaler);
    transform: scale(0.8);
    font-family: "chorine-large", sans-serif;
    -webkit-text-stroke: 1px #2F2F2F;
    bottom: 62vh;
    z-index: 0;

}

.UfoCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    left: -2vw;
    bottom: -3vh;
    
}

#Ufo {
    display: flex;
    position: absolute;
    margin: auto;
    height: var(--ufo-scaler);
    width: auto;
    left: 6vw;
    z-index: 1;
}


.StationCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    left: -2vw;
    bottom: -6vh;
}

#StationSvg {
    display: flex;
    position: absolute;
    margin: auto;
    height: var(--build-scaler);
    left: 18.5vw;
    bottom: 8vh;
    
}

.SandCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62vh;
    width: 120vw;
    top: 58vh;
    right: -8vw;
    z-index: -1;
}

.SandBoxCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    left: -2vw;
    top: 200vh;
}

#SandBoxSvg {
    display: flex;
    position: absolute;
    margin: auto;
    height: 300vh;
    width: 120vw;
    
}

.PopUpCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-shrink: 1;
    height: 20vh;
    width: 16vw;
    top: 165vh;
    right: 10vw;
}

.PopUpCont2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-shrink: 1;
    height: 20vh;
    width: 16vw;
    top: 214vh;
    right: 19vw;
}



.AboutMeCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-shrink: 1;
    width: 90vw;
    bottom: -40vh;
    right: 49vw;
}

.aboutTex {
    color: #FEFDFF;
    text-shadow: #2F2F2F 3px 10px 2px;
    position: absolute;
    margin: auto;
    font-size: var(--about-Tex-Scaler);
    font-family: "chorine-large", sans-serif;
    -webkit-text-stroke: 1px #2F2F2F;
    height: var(--about-Tex-Scaler);
    width: var(--about-Tex-Scaler);
    z-index: 1;
}

.WMD {
    color: #F25D27;
    text-shadow: #2F2F2F 1px;
    font-size: var(--about-Tex-Scaler);
}

@keyframes blink {
    50% {
        color: #2F2F2F;
        text-shadow: #5C2B8C 7px 7px 30px;
    }

    80% {
        color: #5BBF3F;
        text-shadow: #5BBF3F 10px 10px 40px;
    }
    
}

.CASH {
    color: #5BBF3F;
    text-shadow: #5BBF3F 10px 10px 40px;
    font-size: var(--about-Tex-Scaler);
    animation: blink 1s linear infinite;
}

.BigParaCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    height: 55vh;
    width: 55vw;
    top: 155vh;
    left: 4vw;
    
}

.BigPara {
    margin: auto;
    height: auto;
    width: auto;
    font-family: "chorine-large", sans-serif;
    font-size: var(--bigPara-Tex-Scaler);
    color: #FEFDFF;
    text-shadow: #2F2F2F 3px 5px 3px;
}

.priceWindCont {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-shrink: 1;
    height: 48vh;
    width: 48vw;
    top: 320vh;
    right: 27vw;
}

.Redacted {
    margin: auto;
    height: auto;
    width: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    font-size: var(--redacted-Tex-Scaler);
    color: #F25D27;
}

.greyTex {
    color: #2F2F2F;
    text-shadow: #FEFDFF 3px 5px 3px;
}

.mailLink {
    text-decoration: none;
    color: #2F2F2F;
}

.mailLink:hover {
    color: #5C2B8C;
}

.smallGreyTex {
    color: #000000;
    font-size: var(--smallGreyTex-Scaler);
    text-shadow: #FEFDFF 3px 5px 3px;
}

.entryLocationCont {
    display: flex;
    margin: auto;
    position: absolute;
    background-color: #5BBF3F;
    height: 13vh;
    width: 13vw;
    top: 133vh;
    z-index: -2;
}


.priceLocationCont {
    display: flex;
    margin: auto;
    position: absolute;
    background-color: #5BBF3F;
    height: 13vh;
    width: 13vw;
    top: 285vh;
    z-index: -2;
}




